<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>MOMEN</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet" />
  </head>

  <body style="background: #0a243b">
    <!-- nav bar -->
    <nav class="bg-dark shadow">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="title text-white">
          <h3>Portfolio</h3>
        </div>

        <div class="nav-link">
          <a href="#home">Home</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Projects</a>
        </div>

      </div>
    </nav>

    <!-- home sections -->

  <div class="home" id="home" style="background-color: #FEFDED;">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="home-content">
        <h1 class="text-dark">Hello, I'm Momen</h1>
        <p class="text-dark">
          I'm a web designer and developer. I create responsive websites that are displayed on all devices desktops and smartphones.
        </p>
        <a href="#" class="btn btn-primary">Get Started</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="home-img">
        <img src="../static/img/profile-img.jpg" alt="home-img" class="img-fluid">
      </div>
    </div>
</div>
  </div>


    <!-- ======= Hero Section ======= -->
    <section
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="profile">
        <img
          src="../static/img/profile-img.jpg"
          alt="Md-Momen-Uddin"
          class="mt-2 mx-auto d-block img-fluid img-thumbnail rounded-circle"
        />
        <h1 class="text-center mt-1">
          <a href="https://www.linkedin.com/in/momen-uddin/" target="_blank"
            >MD MOMEN UDDIN</a
          >
        </h1>
        <h5 class="text-center text-light mt-1">Web Design & Developer</h5>

        <div class="social-links mt-3 text-center">
          <div class="social-links-container">
            <a
              href="https://www.fb.com/momen.stareye"
              class="btn btn-facebook"
              target="_blank"
              ><i class="bi bi-facebook"></i>Facebook</a
            >

            <a
              href="https://www.linkedin.com/in/momen-uddin/"
              class="btn btn-linkedin"
              target="_blank"
              ><i class="bi bi-linkedin"></i>Linkedin</a
            >

            <a
              href="https://github.com/momen-uddin"
              class="btn btn-github"
              target="_blank"
              ><i class="bi bi-github"></i>Github</a
            >
            <!--  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>    -->

            <a
              href="mailto:momenuddin@outlook.com"
              class="btn btn-email"
              target="_blank"
              ><i class="bi bi-envelope-at-fill"></i>Email</a
            >
            <a href="tel:+8801841987704" class="btn btn-phone" target="_blank"
              ><i class="bi bi-telephone-fill"></i>Phone</a
            >
            <a
              href="../static/cv/MD-Momen-Uddin.pdf"
              target="_blank"
              class="btn btn-cv"
              ><i class="bi bi-file-earmark-person-fill"></i>CV</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Vendor JS Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#s").on("focus", function () {
          $(this).addClass("neon-border-clicked");
        });

        $("#s").on("blur", function () {
          $(this).removeClass("neon-border-clicked");
        });
      });
    </script>
  </body>

  <!-- Created by MD. Momen Uddin -->
</html>
