<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>MOMEN</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet" />
  </head>

  <body style="background: #fef9f2">
    <!-- nav bar -->
    <nav class="bg-dark shadow">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="title text-white">
          <h3>Portfolio</h3>
        </div>

        <div class="nav-link">
          <a href="#home">Home</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Projects</a>
        </div>
      </div>
    </nav>

    <!-- home sections -->

    <div class="home" id="home" style="background-color: #fefae0">
      <div class="container">
        <div class="row">
          <div
            class="col-md-6 mt-2 d-flex align-items-center"
          >
            <div class="home-content">
              <h1 class="text-dark">Hi, I'm Momen Uddin!</h1>
              <p class="text-dark text" style="text-align:justify;">
                <span
                  >🌐 Web Developer | Python Enthusiast | App Developer </span
                ><br />
                I’m a passionate developer who loves creating dynamic and
                user-friendly web applications, diving into Python projects, and
                exploring mobile app development. I strive to continuously learn
                and improve my coding skills while contributing to exciting
                open-source projects.
              </p>

              <div class="contact">
                <a href="#"
                  >Learn More</a
                >
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="home-img">
              <img
                src="../static/img/profile-img.jpg"
                alt="home-img"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vendor JS Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#s").on("focus", function () {
          $(this).addClass("neon-border-clicked");
        });

        $("#s").on("blur", function () {
          $(this).removeClass("neon-border-clicked");
        });
      });
    </script>
  </body>

  <!-- Created by MD. Momen Uddin -->
</html>
