<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>MOMEN</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../static/img/it.png" type="image/x-icon">
  </head>

  <body style="background: #fef9f2">

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a href="#home" class="navbar-brand text-white d-flex align-items-center">
          <!-- <img src="../static/img/it.png" width="5%" class="me-2" alt="Logo" /> -->
          <h4 class="mb-0">Momen <span style="color: #F87A53;">Uddin</span></h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="#home" class="nav-link ">Home</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#qualification" class="nav-link">Quality</a>
            </li>
            <li class="nav-item">
              <a href="#skill" class="nav-link">Skill</a>
            </li>
            
          </ul>
  
        </div>
      </div>
    </nav>
  <!-- Navbar End -->


  <!-- Home Section -->
  <div class="home" id="home">
    <!-- Particle Background -->
    <div id="particles-js"></div>

    <!-- Hero Content -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-center">
          <div class="home-content">
            <h1 class="text-dark">Hi There,<br>
              I'm Momen <span style="color: #F87A53;">Uddin</span></h1>
              <h2 class="text-dark text" style="text-align: justify;">
                <span style="color: #F87A53;" class="typed" data-typed-items="Web Developer, Python Enthusiast, Code Lover"></span>
              </h2>
              
            <div class="contact mt-5">
              <a href="#about">About Me <i class="bi bi-arrow-down-circle-fill"></i></a>
            </div>

            <!-- Social Links -->
            <div class="social-links mt-5 mb-3 text-center">
              <div class="social-links-container">
                <a href="https://www.fb.com/momen.stareye" class="btn btn-facebook icon" target="_blank">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/momen-uddin/" class="btn btn-linkedin icon" target="_blank">
                  <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/momen-uddin" class="btn btn-github icon" target="_blank">
                  <i class="bi bi-github"></i>
                </a>
                <a href="mailto:momenuddin@outlook.com" class="btn btn-email icon" target="_blank">
                  <i class="bi bi-envelope-at-fill"></i>
                </a>
                <a href="tel:+8801841987704" class="btn btn-phone icon" target="_blank">
                  <i class="bi bi-telephone-fill"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Hero Image -->
        <div class="col-md-6 d-flex justify-content-center align-content-center">
          <div class="home-img">
            <img src="../static/img/hero.png" alt="home-img" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- About section -->

    <div class="about mt-3 mb-3 py-5" id="about" style="background-color: #fef9f2; height: 100vh;">

      <div class="mt-2 mb-2" style="text-align: center;">
        <h1 class="text-dark">About <span style="color: #F87A53;">Me</span></h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about-img d-flex  justify-content-center">
              <img
                src="../static/img/profile-img.jpg"
                alt="about-img"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-md-6 mt-3 d-flex align-items-center">
            <div class="about-content">
              <h3>I'm Momen Udddin</h3>
              <span>Full Stack Web Developer</span><br><br>

              <p class="text-dark text" style="text-align:justify;">
                I am a self-taught web developer with a passion for creating
                dynamic and user-friendly web applications. I have experience
                working with HTML, CSS, JavaScript, and Python. I am also
                familiar with Django, Flask, and React. I am always eager to
                learn new technologies and improve my coding skills.
              </p>
              <p><span style="color: #F87A53;">Email : </span>momenuddin@outlook.com</p>
              <p><span style="color: #F87A53;">Place : </span>Dhaka, Bangladesh</p><br>

              <div class="cv">
                <a href="#">Resume <i class="bi bi-filetype-pdf"></i></a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Qualification Start -->
    <div class="container-fluid py-5 mt-5" id="qualification" style="background-color: #dee2e6;">
      <div class="container">
          <div class="position-relative d-flex align-items-center justify-content-center">
              <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
              <h1 class="position-absolute text-uppercase " style="color: #F87A53;">Education & Experience</h1>
          </div>
          <div class="row align-items-center">
              <!-- Education Section -->
              <div class="col-lg-6">
                  <h3 class="mb-4">My Education</h3>
                  <div class="timeline">
                      <!-- First Education Entry -->
                      <div class="timeline-item">
                          <i class="far fa-dot-circle icon text-primary"></i>
                          <h5 class="font-weight-bold mb-1">BSC IN COMPUTER SCIENCE AND ENGINEERING</h5>
                          <p class="mb-2"><strong>Uttara University</strong></p>
                          <p>Department: Computer Science and Engineering <br>
                            Result: Appeared (2nd Semester Running) <br>
                            Session: 2023-2024</p>
                      </div>
                      <!-- Additional Education Entry -->
                      <div class="timeline-item">
                          <i class="far fa-dot-circle icon text-primary"></i>
                          <h5 class="font-weight-bold mb-1">DIPLOMA IN ENGINEERING</h5>
                          <p class="mb-2"><strong>Daffodil Technical Institute</strong></p>
                          <p>Department: Computer Technology <br>
                            Result: CGPA-3.54 out of 4.00 <br>
                            Session: 2019-2020</p>
                      </div>
                      <!-- Add more timeline-item divs as needed -->
                  </div>
              </div>

              <!-- Experience Section -->
              <div class="col-lg-6">
                  <h3 class="mb-4">My Experience</h3>
                  <div class="timeline">
                      <!-- First Experience Entry -->
                      <div class="timeline-item">
                          <i class="far fa-dot-circle icon text-primary"></i>
                          <h5 class="font-weight-bold mb-1">Head of IT</h5>
                          <p class="mb-2"><strong>Prottasha Shop</strong> | <small>2024-Running</small></p>
                          <p> Oversee and manage the web development team for WordPress projects and landing page creation, ensuring quality, timely delivery, and alignment with client requirements. <br>
                            Address: 2/B, Basila Garden City, Basila Road, Dhaka</p>
                      </div>
                      <!-- Additional Experience Entry -->
                      <div class="timeline-item">
                          <i class="far fa-dot-circle icon text-primary"></i>
                          <h5 class="font-weight-bold mb-1">Web Developer</h5>
                          <p class="mb-2"><strong>Freelance</strong> | <small>2021-2024</small></p>
                          <p>Developed websites and managed client projects <br>
                            Address: Dhaka, Bangladesh</p>
                      </div>
                      <!-- Add more timeline-item divs as needed -->
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- Qualification End -->


      <!-- Skill section -->

      <div class="skills-section" id="skill">
        <h2><i class="bi bi-laptop-code"></i> Skills <span>& Abilities</span></h2>
        <div class="skills-grid">

          <div class="skill-card">
            <img src="../static/img/python.png" width="90%" alt="">
            <p>Python</p>
          </div>
          <div class="skill-card">
            <img src="../static/img/flask.png" width="90%" alt="">
            <p>Flask</p>
          </div>

          <div class="skill-card">
            <img src="../static/img/php.png" width="90%" alt="">
            <p>PHP</p>
          </div>
          <div class="skill-card">
            <img src="../static/img/laravel.png" width="90%" alt="">
            <p>Laravel</p>
          </div>
          <div class="skill-card">
            <img src="../static/img/javascript.png" width="90%" alt="">
            <p>JavaScript</p>
          </div>
          <div class="skill-card">
            <img src="../static/img/mysql.png" width="90%" alt="">
            <p>MySQL</p>
          </div>

          <div class="skill-card">
            <img src="../static/img/html.png" width="90%" alt="">
            <p>HTML5</p>
          </div>
          <div class="skill-card">
            <img src="../static/img/css.png" width="90%" alt="">
            <p>CSS3</p>
          </div>

          <div class="skill-card">
            <img src="../static/img/bootstrap.png" width="90%" alt="">
            <p>Bootstrap</p>
          </div>
          <div class="skill-card">
            <img src="../static/img/sass.png" width="90%" alt="">
            <p>Sass</p>
          </div>

          <div class="skill-card">
            <img src="../static/img/tailwind.png" width="90%" alt="">
            <p>TailwindCSS</p>
          </div>

          <div class="skill-card">
            <img src="../static/img/github.png" width="90%" alt="">
            <p>GitHub</p>
          </div>

          <div class="skill-card">
            <img src="../static/img/wordpress.png" width="90%" alt="">
            <p>WordPress</p>
          </div>

          <div class="skill-card">
            <img src="../static/img/hostinger.png" width="90%" alt="">
            <p>Hostinger</p>
          </div>

          <div class="skill-card">
            <img src="../static/img/namecheap.png" width="90%" alt="">
            <p>NameCheap</p>
          </div>

        </div>
      </div>
      

      <!-- get in touch -->
      <!-- <div class="contactMe" id="contactMe">
 
      <section class="get-in-touch">
        <h2><i class="fas fa-headset"></i> Get In <span>Touch</span></h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div>
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <div class="contact-container">
          <div class="contact-image">
            <img src="../static/img/cs.png" alt="Customer Service Illustration">
          </div>
          <div class="contact-form">
            <form method="POST" action="/contact">
              <div class="form-group">
                <i class="bi bi-person"></i>
                <input type="text" placeholder="Name" name="name" required>
              </div>
              <div class="form-group">
                <i class="bi bi-envelope"></i>
                <input type="email" placeholder="Email" name="email" required>
              </div>
              <div class="form-group">
                <i class="bi bi-telephone"></i>
                <input type="tel" placeholder="Phone" name="phone" required>
              </div>
              <div class="form-group">
                <i class="bi bi-chat-dots-fill"></i>
                <textarea placeholder="Message" name="msg" required></textarea>
              </div>
                <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </section>
      </div> -->

      <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white py-3 px-sm-3 px-md-5">
      <div class="container text-center py-3">
          <!-- Social Links -->
          <div class="social-links mt-5 mb-3 text-center">
            <div class="social-links-container">
              <a href="https://www.fb.com/momen.stareye" class="btn btn-facebook icon" target="_blank">
                <i class="bi bi-facebook"></i>
              </a>
              <a href="https://www.linkedin.com/in/momen-uddin/" class="btn btn-linkedin icon" target="_blank">
                <i class="bi bi-linkedin"></i>
              </a>
              <a href="https://github.com/momen-uddin" class="btn btn-github icon" target="_blank">
                <i class="bi bi-github"></i>
              </a>
              <a href="mailto:momenuddin@outlook.com" class="btn btn-email icon" target="_blank">
                <i class="bi bi-envelope-at-fill"></i>
              </a>
              <a href="tel:+8801841987704" class="btn btn-phone icon" target="_blank">
                <i class="bi bi-telephone-fill"></i>
              </a>
            </div>

          <p class="m-0 mt-2">Made With 💙 by <span class="text-white font-weight-bold">Md Momen Uddin</span>
          </p>
      </div>
  </div>
  <!-- Footer End -->
   

    <!-- Vendor JS Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/waypoints.min.js"></script>
    <!-- Include the Typed.js library -->
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

  <script src="../static/js/main.js"></script>
  

    <script>
      $(document).ready(function () {
        $("#s").on("focus", function () {
          $(this).addClass("neon-border-clicked");
        });

        $("#s").on("blur", function () {
          $(this).removeClass("neon-border-clicked");
        });
      });
    </script>

    <script>
      // Store the original page title
      const originalTitle = document.title;
    
      // Detect when the tab loses focus
      document.addEventListener("visibilitychange", function() {
        if (document.hidden) {
          document.title = "Please Come Back!";
        } else {
          document.title = originalTitle; // Restore the original title when they return
        }
      });
    </script>
    
    
    
  </body>

  <!-- Created by MD. Momen Uddin -->
</html>
